# used to distinguish log files for multiple accounts, optional

ACCOUNT_NAME=

# EdgeX Account Credentials (REQUIRED for API access)
# Find these in your EdgeX account under "API Management"
EDGEX_ACCOUNT_ID=your_account_id_here
EDGEX_STARK_PRIVATE_KEY=your_stark_private_key_here

# Backpack Account Credentials (REQUIRED for API access)
# Find these in your Backpack account under "Portfolio" -> "Settings" -> "API Keys"
BACKPACK_PUBLIC_KEY=your_api_key
BACKPACK_SECRET_KEY=your_api_secret

# Paradex Configuration 
# user icon -> "Wallet" -> "Ethereum Address" and "Copy Paradex Private key"
PARADEX_L1_ADDRESS=your_generated_l1_address_here
PARADEX_L2_PRIVATE_KEY=your_generated_l2_private_key_here
PARADEX_ENVIRONMENT=prod # or testnet 

# Aster Configuration
ASTER_API_KEY=your_aster_api_key
ASTER_SECRET_KEY=your_aster_secret_key

# Notification (optional)
# guide: https://www.feishu.cn/hc/zh-CN/articles/185289387886-%E6%B6%88%E6%81%AF%E5%8A%A9%E6%89%8B-%E6%9C%BA%E5%99%A8%E4%BA%BA
LARK_TOKEN=

# Logging
LOG_TO_CONSOLE=true
LOG_TO_FILE=true
LOG_FILE=trading_log.csv

TIMEZONE=Asia/Shanghai

# EdgeX API Endpoints
EDGEX_BASE_URL=https://pro.edgex.exchange
EDGEX_WS_URL=wss://quote.edgex.exchange